<div class="list-group">
    <a class="list-group-item" href="~/Genre">კატეგორია</a>
    <a class="list-group-item" href="~/Test">ტესტი</a>
    <a class="list-group-item" href="~/Question">კითხვები</a>
</div>