@{ 
    Layout = "~/Views/Shared/_ManagerDashboard.cshtml";
}

@model QuizApp.ViewModels.DetailsGenreViewModel


<div class="col-md-9">
    @Model.Genre.Title

    @foreach (var item in Model.Tests)
    { 
        <div class="well">
            @item.Title
        </div>
    }
</div>