@{ 
    Layout = "~/Views/Shared/_ManagerDashboard.cshtml";
}

@model QuizApp.ViewModels.DetailsGenreViewModel

<div class="col-md-3">
    @Html.Partial("~/Views/Partials/_menu.cshtml")
    <div class="form-group">
        <a href="~/Genre/Create" class="btn btn-success form-control">ახალი კატეგორია</a>
    </div>
</div>

<div class="col-md-9">
    <div class="well">
        <h4>კატეგორია:@Model.Genre.Title</h4>
        <h5>ტესტები</h5>
        <div class="list-group">
            @foreach (var item in Model.Tests)
            {
                <a href="~/Test/Details/@item.Id" class="list-group-item">
                    @item.Title
                </a>
            }
        </div>
        <a href="~/Genre/Edit/@Model.Genre.Id" class="btn btn-info form-control" style="margin-top:10px;">
            რედაქტირება
        </a>
        <a href="~/Genre/Remove/@Model.Genre.Id" class="btn btn-danger form-control" style="margin-top:10px;">
            წაშლა
        </a>

    </div>
</div>