@{ 
    Layout = null;
}
@model List<QuizApp.Models.Genre>

<form action="~/Quiz/Create" method="post">
    <div>
        <label>Genre</label>
        <select name="GenreId">
            @foreach (var genre in Model)
            { 
                <option value="@genre.Id">@genre.Name</option>
            }
        </select>
    </div>
    <div>
        <label>Name</label>
        <input type="text" name="Name" />
    </div>
    <div>
        <label>Difficulty</label>
        <input type="range" min="1" max="10"/>
    </div>
    <div>
        <input type="submit" value="Save"/>
    </div>
</form>