
<h3>ავტორიზაცია</h3>

<form action="~/Login" method="post" style="margin-top:50px;">
    @Html.ValidationSummary()
    <div class="form-group">
        <label for="email">ელ-ფოსტა</label>
        <input type="text" name="email" id="email" placeholder="ელ-ფოსტა" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="password">პაროლი</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="პაროლი" />
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="შესვლა"/>
    </div>
</form>