@using Microsoft.AspNetCore.Http;
@using QuizApp.Extensions;
@using QuizApp.Models;
@{ 
    string fullname = Context.Session.Get<User>("login-user").FullName;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">QuizApp</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a href="#" class="list-group-item">გამარჯობა @fullname</a>
                    <a href="~/User/Tests" class="list-group-item">ტესტები</a>
                    <a href="~/Logout" class="list-group-item">გამოსვლა</a>
                </div>
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
       </div>
    </div>
</body>
</html>
