@{
    Layout = "~/Views/Shared/_ManagerDashboard.cshtml";
}

@model List<QuizApp.Models.User>


<div class="col-md-3">
    <div class="list-group">
        <a class="list-group-item" href="~/Genre">კატეგორია</a>
        <a class="list-group-item" href="~/Test">ტესტი</a>
        <a class="list-group-item" href="~/Question">კითხვები</a>
        <a class="list-group-item" href="~/Admin/Users">მომხმარებელი</a>
        <a class="list-group-item" href="~/Admin">პარამეტრები</a>
        <a class="list-group-item" href="~/Logout">გამოსვლა</a>
    </div>
    <div class="form-group">
        <a href="~/Genre/Create" class="btn btn-success form-control">ახალი კატეგორია</a>
    </div>
</div>

<div class="col-md-9">
    @foreach (var user in Model)
    {
        <div class="well">
            <h1>@user.FullName</h1>
            <p>@user.Email</p>
            <a href="~/Admin/User/@user.Id">დეტალურად</a>
        </div>
    }
</div>