@{
    Layout = "~/Views/Shared/_ManagerDashboard.cshtml";
}

@model List<QuizApp.Models.User>


<div class="col-md-3">
    @Html.Partial("~/Views/Partials/_menu.cshtml")
    <div class="form-group">
        <a href="~/Genre/Create" class="btn btn-success form-control">ახალი კატეგორია</a>
    </div>
</div>

<div class="col-md-9">
    @foreach (var user in Model)
    { 
        <div class="well">
            <h1>@user.FullName</h1>
            <p>@user.Email</p>
            <a href="~/Admin/User/@user.Id">დეტალურად</a>
        </div>
    }
</div>